<!DOCTYPE html>
<html lang="en">
  <%- include('./header', {title: "AML Check Results"}) %>
  <body>
    <div class="container">
      <div class="header">
        <h1>AML Check Results</h1>
        <div class="results-img-container">
          <img class="results-img" src="/assets/authcheck-results.png" />
        </div>
      </div>
      <div class="container results-container">
        <h2>Summary</h2>
        <hr />
        <p><b>Search Term:</b> <%= data.searchTerm %></p>
        <p><b>Found Match:</b> <%= data.foundMatch %></p>
        <p><b>Status:</b> <%= data.status.toUpperCase() %></p>
        <p>
          <b>Source List:</b>
          <a
            href="https://www.treasury.gov/ofac/downloads/sdnlist.txt"
            rel="noopener noreferrer"
            target="_blank"
            >sndlist.txt</a
          >
        </p>
        <p><b>Source List Updated Date:</b> <%= data.sourceUpdatedAt %></p>
        <% if (data.foundMatch && data.matches.length > 0) { %>
      </div>
      <div class="results-container">
        <h2>Results Details</h2>
        <hr />
        <h3>Found <%= data.totalMatches %> matches</h3>
        <ul class="results-list">
          <% data.matches.forEach((m) => { %>
          <li>
            <p>
              <span class="warning-icon">⚠</span> Matches on paragraph from line
              <%= m.blockStart %> to <%= m.blockEnd %>:
            </p>
            <ol>
              <% m.matchedLines.forEach((ml) => { %>
              <li><b>Line # <%= ml.lineNum %></b>: <%= ml.lineText %></li>
              <% }) %>
            </ol>
          </li>
          <% }) %>
        </ul>
        <% } %>
      </div>
      <%- include('./footer'); %>
    </div>
  </body>
</html>
