<!DOCTYPE html>
<html lang="en">
  <%- include('./header', {route:"/amlresults", title: "AML Check Results", gtmId: gtmId}) %>
  <body class="bg-color">
    <div class="container">
    <%- include('./search-mini'); %>

    <div class="container results-container">
      <p>
        <b>Search Term:</b> <%= data.searchTerm %> |
        <b>Found <%= data.totalMatches %> matches </b> |
        <b class="text-danger">Found Match:</b> <%= data.foundMatch %> |
        <b>Status:</b> <%= data.status.toUpperCase() %> |
        <b>Source List:</b>
        <a href="https://www.treasury.gov/ofac/downloads/sdnlist.txt"
          rel="noopener noreferrer"
          target="_blank" >sndlist.txt</a> updated <%= data.sourceUpdatedAt %> 
        <% if (data.foundMatch && data.matches.length > 0) { %>
      <hr />
    </div>
    <br>
    <div class="results-container">
      <ul class="results-list">
        <% data.matches.forEach((m) => { %>
        <li>
          <p>
            <span class="warning-icon">⚠</span> Matches on paragraph from line
            <%= m.blockStart %> to <%= m.blockEnd %>:
            <% m.matchedLines.forEach((ml) => { %>
              <br>
              <b>Line # <%= ml.lineNum %></b>: <%= ml.lineText %>
            <% }) %>
          </p>
          <br>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </div>
  <%- include('./footer'); %>
</body>
</html>
