<!DOCTYPE html>
<html lang="en">
  <%- include('./header', {route:"/home", title: "KYC/AML Bot", gtmId: gtmId}) %>
  <body>
    <div class="container">
      <h1>KYC/AML Discord Bot: <%= gtmId %>
      </h1>
      <div class="img-container">
        <img class="home-icon" src="/assets/black-discord-icon.jpg" />
      </div>
      <p>
        A simple Discord Bot for performing a wallet, address and name check
        against the US FINCEN AML list.
      </p>
      <a id="discordIntegrateBtn" class="btn" rel="noopener noreferrer" target="_blank" href="<%= discordBotAuth %>">Integrate To Your Discord
        Server
        <span>➪</span>
      </a>
    </div>
    <%- include('./scripts'); %>
    <%- include('./footer'); %>
  </body>
</html>