<div>
    <nav class="navbar navbar-light search-nav-container">
        <div class="container-fluid">
            <form class="container-fluid">
                <div class="input-group row">
                    <div class="col-3 p-0">
                        <a class="navbar-brand col-2 d-flex text-white" href="/">
                            <img src="/assets/caml-logo-c.png" alt="logo" width="30" height="30"
                                class="d-inline-block align-text-top search-nav-logo">
                            <span>AML</span><span class="logo-beta-text">beta</span>
                        </a>
                    </div>
                    <div class="col-5 p-0">
                    <input type="text" class="form-control"
                        title="enter a value from <%=minSearchLength%> to <%=maxSearchLength%> characters"
                        pattern=".{<%=minSearchLength%>,<%=maxSearchLength%>}"
                        placeholder="Search crypto addresses, names, businesses and more.." name="term"
                        value="<%= searchTerm %>" aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="col-4 p-0 d-flex align-items-center justify-content-center">
                        <label class="search-btn">
                            <input type=submit value="Search" class="search-btn" />
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div class="search-agreement-txt text-center">
        <p>By using this search you accept and agree with our <a href="/terms">Terms of Service.</a></p>
    </div>
</div>