<div class="form text-center">
    <form method=GET action="/aml/search?term">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <input id="search-input" type=text placeholder="Search crypto addresses, names, businesses and more.."
                name="term" value="<%= searchTerm %>"
                title="enter a value from <%=minSearchLength%> to <%=maxSearchLength%> characters"
                pattern=".{<%=minSearchLength%>,<%=maxSearchLength%>}" class="form-control"
                aria-describedby="searchHelpBlock" required>
            </div>
            <div class="float-end col-xs-4 col-md-3">
                <i class="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </i>
                <input type=submit value="Search" class="search-btn" />
            </div>
        </div>
        <div class="search-btn-container container">
            <div class="search-agreement-txt">
                <p>By clicking search you accept and agree with our <a href="/terms">Terms of Service.</a></p>
            </div>
        </div>
        <div id="searchHelpBlock" class="form-text">
            A simple verification search against the US FINCEN AML List (soon many more)
        </div>
    </form>
</div>